.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  margin-top: -10px;
  padding: 25px;
  height: auto;
  width: auto;
  max-height: 347px;
}
.intro__title {
  margin: 14px 30px 0px 30px;
}
.intro__title--style {
  margin: 0px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  max-height: 68px;
}
.intro__subtitle {
  margin: 10px 5px 2px 5px;
  max-height: 46px;
}
.intro__subtitle--style {
  color: #353535;
  margin: 0px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.intro__button {
  display: flex;
  justify-content: center;
  margin: 27px 50px 32px 57px;
  width: 100%;
  height: auto;
  max-width: 218px;
  max-height: 50px;
}
.intro__button--style {
  position: relative;
  z-index: 1;
  padding: 0px;
  border: 0px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(-180.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  transition: background 400ms linear, box-shadow 400ms linear, opacity 400ms linear;
}
.intro__button--style::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-180.33deg, #FF9DE5 -11.44%, #A475E5 123.93%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 0;
  opacity: 0;
  transition: opacity 400ms ease, background 400ms ease, box-shadow 400ms ease;
}
.intro__button--style:hover::after {
  opacity: 1;
}
.intro__button--text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-width: 180px;
  max-height: 24px;
  margin: 15.5px 0px;
  position: relative;
  z-index: 2;
}
.intro__button #link {
  width: 100%;
  max-width: 218px;
}

.explanation {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  max-height: 440px;
  padding: 48px 20px;
}
.explanation__title {
  margin-right: 60px;
  margin-bottom: 3px;
}
.explanation__title--style {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}
.explanation__card {
  display: flex;
  align-items: center;
  max-height: 72.4px;
  height: 72.4px;
  width: 100%;
}
.explanation__card__number {
  background-color: #9356dc;
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  border-radius: 20px;
  margin-right: -12px;
  z-index: 1;
}
.explanation__card__number--style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
}
.explanation__card__box {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 0px 34.5px;
  gap: 27px;
  height: 100%;
  max-height: 72.4px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 0;
}
.explanation__card__text {
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  display: flex;
  justify-content: center;
}
.explanation__card__logo1 {
  color: #7e7e7e;
}
.explanation__card__logo2 {
  color: #9356dc;
}

@media all and (min-width: 1440px) {
  .intro {
    padding: 0px;
  }
  .intro__title {
    margin: 30px 397.5px 18px 397.5px;
  }
  .intro__title--style {
    max-width: 645px;
    font-size: 40px;
  }
  .intro__subtitle--style {
    font-size: 18px;
  }
  .explanation {
    padding: 50px 207px 50px 187px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .explanation__title {
    width: 100%;
  }
  .explanation__card {
    width: 31.714%;
  }
}
.header {
  display: flex;
  justify-content: center;
}
.header .fa-arrow-left {
  margin: 15px;
  max-width: 30px;
  max-height: 30px;
  font-size: 30px;
  display: none;
}
.header__img {
  margin: 3.3% 28.8% 3.3% 28.8%;
  height: 100%;
  width: 43.2%;
}

.location {
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 50px;
}
.location__box {
  margin: 0px 118.5px 15.5px 118.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.location__text {
  color: #353535;
  max-height: 16px;
  font-size: 1rem;
  font-weight: 500;
  max-width: 109px;
  padding: 15.5px 0px;
}
.location__icon {
  max-height: 16px;
}

@media all and (min-width: 1440px) {
  .header__img {
    max-width: 200px;
    margin: 31px 620px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: #ffffff;
  width: 88.238%;
  height: 100%;
  max-height: 186px;
  padding: 22px 5.9%;
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-height: 100px;
  height: 100%;
}
.footer__box a {
  text-decoration: none;
  color: #ffffff;
}
.footer__content {
  display: flex;
  gap: 11px;
  max-height: 19px;
}
.footer__logo {
  font-size: 13px;
}
.footer__text {
  font-weight: 500;
}

@media all and (min-width: 1440px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1 1fr;
  }
  .footer__box {
    flex-direction: row;
  }
  .ohmyfood {
    width: 100%;
  }
}
.restaurants {
  background-color: #f6f6f6;
  height: auto;
  max-height: 1204px;
}
.restaurants__title {
  padding-top: 54px;
  margin-left: 20px;
  margin-bottom: 42px;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 700;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0px 18px 66px 17px;
  height: 100%;
  max-height: 1058px;
}
.restaurants__box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 308px;
  border-radius: 15px;
  background-color: #ffffff;
}
.restaurants__box__content1 {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  height: 100%;
  width: 100%;
  max-height: 231px;
}
.restaurants__box__img {
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  height: 100%;
  width: 100%;
  max-height: 174px;
  z-index: 0;
  aspect-ratio: 4/2;
  object-fit: cover;
}
.restaurants__box__new {
  z-index: 1;
  max-width: 80px;
  max-height: 29px;
  width: 100%;
  height: 100%;
  background: #99e2d0;
  color: #008766;
  margin-top: 13px;
  margin-left: -92px;
}
.restaurants__box__new--style {
  font-size: 14px;
  font-weight: 500;
  padding: 7px 9.6px 6px 9px;
  margin: 0px;
}
.restaurants__box__content2 {
  display: flex;
  max-height: 77px;
}
.restaurants__box__text {
  width: 100%;
  margin: 16px 13px 12px 13px;
}
.restaurants__box__text--style1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}
.restaurants__box__text--style2 {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 21px;
  padding: 22px 25px 32px 13px;
}
.restaurants__container .fa-heart::before, .restaurants__container .fa-heart {
  font-size: 21px;
  position: absolute;
  left: 6.5px;
  width: 100%;
  height: 100%;
  max-width: 22px;
  max-height: 21px;
}
.restaurants__container .fa-solid {
  display: none;
  background: transparent;
  transition: all 1200ms ease-in-out;
}
.restaurants__container .fa-regular {
  color: #353535;
  transition: all 200ms ease-in-out;
}
.restaurants__checkbox {
  margin: 0px;
  width: 100%;
  height: 100%;
  max-width: 21px;
  display: none;
}
.restaurants__checkbox:checked + .restaurants__label .fa-solid, .restaurants__checkbox:checked + .restaurants__label .fa-solid::before {
  display: block;
  background: -webkit-linear-gradient(-300deg, #FF9DE5 -11.44%, #A475E5 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__checkbox:checked + .restaurants__label .fa-regular {
  color: transparent;
}
.restaurants__label {
  cursor: pointer;
}

@media all and (min-width: 1440px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    padding: 30px 180px;
  }
  .restaurants__title {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
  }
  .restaurants__cards {
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
  .restaurants__box {
    width: 45.37%;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.ohmyfood {
  font-family: "Shrikhand", "sans-serif";
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
