$main-bg-color: #f6f6f6;
$secondary-txt-color: #353535; 
$btn-txt-color: #ffffff;
$btn-main-color: #9356dc;
$btn-secondary-color: #ff79da;


// mixins


// Creation of the intro section with the text and its style
.intro {
    background-color: $main-bg-color;
    margin-top: -10px;
    padding: 25px;
    height: auto;
    width: auto;
    max-height: 347px;
    // The title and its style
    &__title {
        margin: 14px 33px 0px 17px;
        &--style {
            margin: 0px;
            text-align: center;
            font-weight: 700;
            font-size: 24px;
            max-width: 275px;
            max-height: 68px;
        }
    }
    // The subtitle and its style
    &__subtitle {
        margin: 10px 1px 2px 9px;
        max-width: 315px;
        max-height: 46px;
        &--style {
            color: $secondary-txt-color;
            margin: 0px;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
        }
    }
    // The button and its style
    &__button {
        display: flex;
        justify-content: center;
        margin: 27px 50px 32px 57px;
        width: 100%;
        height: auto;
        max-width: 218px;
        max-height: 50px;
        &--style {
            padding: 0px;
            border: 0px;
            width: 100%;
            border-radius: 50px;
            text-align: center;
            box-sizing: border-box;
            color: $btn-txt-color;
            box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.25);
            background: linear-gradient(-180.33deg, #FF79DA -11.44%, #9356DC 123.93%);;
        }
        &--text {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            height: 100%;
            min-width: 180px;
            max-height: 24px;
        }
    }
}


.explanation {
    display: flex;
    flex-direction: column;
    max-height: 440px;
    padding: 48px 20px;
    &__title {
        margin-right: 60px;
        &--style {
            font-size: 24px;
            font-weight: 700;
            margin: 0px;
        }
    }
    &__card {
        display: flex;
        align-items: center;
        max-height: 72.4px;
        height: auto;
        width: 100%;
        &__number {
            background-color: $btn-main-color;
            width: 100%;
            height: 100%;
            max-width: 24px;
            max-height: 24px;
            border-radius: 10px;
            &--style {
                margin: 0px;
                font-size: 14px;
                font-weight: 500;
                height: auto;
                max-width: 24px;
                max-height: 24px;
            }
        }
        &__box {
            background-color: $main-bg-color;
            display: flex;
            align-items: center;
        }
    }
}