@mixin button {
  display: flex;
  justify-content: center;
  margin: 27px 50px 32px 57px;
  width: 100%;
  height: auto;
  max-width: 218px;
  max-height: 50px;
  &--style {
    position: relative;
    z-index: 1;
    padding: 0px;
    border: 0px;
    width: 100%;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    color: $btn-txt-color;
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.25);
    background: linear-gradient(-180.33deg, #ff79da -11.44%, #9356dc 123.93%);
    transition: background 400ms linear, box-shadow 400ms linear,
      opacity 400ms linear;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-180.33deg, #ff9de5 -11.44%, #a475e5 123.93%);
      box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.25);
      z-index: 0;
      opacity: 0;
      transition: opacity 400ms ease, background 400ms ease,
        box-shadow 400ms ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }
  &--text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-width: 180px;
    max-height: 24px;
    margin: 15.5px 0px;
    position: relative;
    z-index: 2;
  }
}

@mixin new {
  z-index: 1;
  max-width: 80px;
  max-height: 29px;
  width: 100%;
  height: 100%;
  background: $new-bg-color;
  color: $new-txt-color;
  margin-top: 13px;
  position: absolute;
  right: 15px;
  &--style {
    font-size: 14px;
    font-weight: 500;
    padding: 7px 9.6px 6px 9px;
    margin: 0px;
  }
}

@mixin restaurants_box_new {
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 308px;
    border-radius: 15px;
    background-color: $btn-txt-color;

    &__content1 {
      display: flex;
      border-radius: 15px 15px 0px 0px;
      height: 100%;
      width: 100%;
      max-height: 231px;
    }

    &__img {
      box-sizing: border-box;
      border-radius: 15px 15px 0px 0px;
      height: 100%;
      width: 100%;
      max-height: 174px;
      z-index: 0;
      aspect-ratio: 4/2;
      object-fit: cover;
    }

    &__new {
      @include new;
    }

    &__content2 {
      display: flex;
      max-height: 77px;
    }

    &__text {
      width: 100%;
      margin: 16px 13px 12px 13px;
      &--style1 {
        font-size: 18px;
        font-weight: 700;
        margin: 0px 0px 5px 0px;
      }
      &--style2 {
        font-size: 17px;
        font-weight: 300;
      }
    }
  }

  &__container {
    position: absolute;
    z-index: 2;
    bottom: 17px;
    right: 12px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 21px;
    padding: 22px 25px 32px 13px;
    & .fa-heart::before,
    .fa-heart {
      font-size: 21px;
      position: absolute;
      left: 6.5px;
      width: 100%;
      height: 100%;
      max-width: 22px;
      max-height: 21px;
    }
    & .fa-solid {
      display: none;
      background: transparent;
      transition: all 1200ms ease-in-out;
    }
    & .fa-regular {
      color: $secondary-txt-color;
      // background: red;
      transition: all 200ms ease-in-out;
    }
  }
  &__checkbox {
    margin: 0px;
    width: 100%;
    height: 100%;
    max-width: 21px;
    display: none;
  }
  &__checkbox:checked + .restaurants__label {
    & .fa-solid,
    & .fa-solid::before {
      display: block;
      background: -webkit-linear-gradient(
        -300deg,
        #ff9de5 -11.44%,
        #a475e5 123.93%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & .fa-regular {
      color: transparent;
    }
  }
  &__label {
    cursor: pointer;
  }
}

@mixin meal_card {
  &__card {
    margin: 12px 0px;
    position: relative;
    height: 100%;
    max-height: 42px;
    background-color: $btn-txt-color;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 13.5px 15px;
    animation: cards 1s ease-in-out both;
    @for $i from 1 through $num-cards {
      &--#{$i} {
        animation-delay: 50ms * $i;
      }
    }

    &__checkbox {
      display: none;
    }

    &__label {
      display: flex;  
      height: 100%;
      width: 100%;
      cursor: pointer;
      & h1 {
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
      }
      & h2 {
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
      }
    }
    &__label2 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 59px;
      height: 100%;
      background-color: $new-bg-color;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      right: 0;
      transform: translateX(100%);
      transition: transform 0.35s ease-in-out;
      cursor: pointer;

      &::after {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 16px;
        color: $new-bg-color;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
      }
    }

    &__text {
        width: 100%;
        & h1, & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            transition: width 0.5s ease-in-out;
        }
        & p {
            font-size: 14.7px;
        }
    }
    &__price {
        display: flex;
        align-items: flex-end;
        transform: translateX(0px);
        position: absolute;
        right: 15px;
        bottom: 10px;
    }

    &__checkbox:checked ~ &__label2 {
        transform: translateX(0);
    }

    &__checkbox:checked ~ &__label .menu__box__card__price {
      animation: price_mouvement 0.35s ease-in-out both;
 
  }

    &__checkbox:checked ~ &__label .menu__box__card__text {
        width: calc(100% - 90px);
    }
  }
}

@keyframes cards {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes price_mouvement {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-160%);
  }
}