@mixin button {
    display: flex;
        justify-content: center;
        margin: 27px 50px 32px 57px;
        width: 100%;
        height: auto;
        max-width: 218px;
        max-height: 50px;
        &--style {
            position: relative;
            z-index: 1;
            padding: 0px;
            border: 0px;
            width: 100%;
            border-radius: 50px;
            text-align: center;
            box-sizing: border-box;
            color: $btn-txt-color;
            box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.25);
            background: linear-gradient(-180.33deg, #FF79DA -11.44%, #9356DC 123.93%);
            transition: background 400ms linear, box-shadow 400ms linear, opacity 400ms linear;

            &::after {
                content: '';
                position: absolute;
                border-radius: 50px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(-180.33deg, #FF9DE5 -11.44%, #A475E5 123.93%);
                box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.25);
                z-index: 0;
                opacity: 0;
                transition: opacity 400ms ease, background 400ms ease, box-shadow 400ms ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }    
        &--text {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            height: 100%;
            min-width: 180px;
            max-height: 24px;
            margin: 15.5px 0px;
            position: relative;
            z-index: 2;
        }
}

@mixin new {
    z-index: 1;
    max-width: 80px;
    max-height: 29px;
    width: 100%;
    height: 100%;
    background: $new-bg-color;
    color: $new-txt-color;
    margin-top: 13px;
    margin-left: -92px;
    &--style {
        font-size: 14px;
        font-weight: 500;
        padding: 7px 9.6px 6px 9px;
        margin: 0px;
    }
}

@mixin restaurants_box_new {
    &__box {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-height: 308px;
        border-radius: 15px;
        background-color: $btn-txt-color;
        
        &__content1 {
            display: flex;
            border-radius: 15px 15px 0px 0px;
            height: 100%;
            width: 100%;
            max-height: 231px;
        }

        &__img {
            box-sizing: border-box;
            border-radius: 15px 15px 0px 0px;
            height: 100%;
            width: 100%;
            max-height: 174px;
            z-index: 0;
            aspect-ratio: 4/2;
            object-fit: cover;
        }

        &__new {
            @include new;
        }

        &__content2 {
            display: flex;
            max-height: 77px;
        }

        &__text {
            width: 100%;
            margin: 16px 13px 12px 13px;
            &--style1 {
                font-size: 18px;
                font-weight: 700;
                margin: 0px 0px 5px 0px;
            }
            &--style2 {
                font-size: 17px;
                font-weight: 300;
            }
        }
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 21px;
        padding: 22px 25px 32px 13px;
        & .fa-heart::before, .fa-heart {
            font-size: 21px;
            position: absolute;
            left: 6.5px;
            width: 100%;
            height: 100%;
            max-width: 22px;
            max-height: 21px;
        }
        & .fa-solid {
            display: none;
            background: transparent;
            transition: all 1200ms ease-in-out;
        }
        & .fa-regular {
            color: $secondary-txt-color;
            // background: red;
            transition: all 200ms ease-in-out;
        }
    }
    &__checkbox {
        margin: 0px;
        width: 100%;
        height: 100%;
        max-width: 21px;
        display: none;
    }
    &__checkbox:checked + .restaurants__label {
        & .fa-solid, & .fa-solid::before {
            display: block;
            background: -webkit-linear-gradient(-300deg, #FF9DE5 -11.44%, #A475E5 123.93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & .fa-regular {
            color: transparent;
        }
    }
    &__label {
        cursor: pointer;
    }
}