.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $secondary-txt-color;
    color: $btn-txt-color;
    width: 88.238%;
    height: 100%;
    max-height: 186px;
    padding: 22px 5.9%;
    &__box {
        display: flex;
        flex-direction: column;
        gap: 7px;
        max-height: 100px;
        height: 100%;
        & a {
            text-decoration: none;
            color: $btn-txt-color;
        }
    }
    &__content {
        display: flex;
        gap: 11px;
        max-height: 19px;
    }
    &__logo {
        font-size: 13px;
    }
    &__text {
        font-weight: 500;
    }
}

@media all and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 64px;
        width: auto;
        &__box {
            flex-direction: row;
            width: 100%;
            max-width: 661px;
            gap: 12px;
        }
        &__space {
            margin-right: 50px;
        }
    }
    .ohmyfood {
        order: 2;
        margin-left: auto;
        width: 100%;
        max-width: 120px;
    }
}