$main-bg-color: #f6f6f6;
$secondary-bg-color: #eaeaea;

$secondary-txt-color: #353535;
$third-txt-color: #7e7e7e; 
$btn-txt-color: #ffffff;


$btn-main-color: #9356dc;
$btn-secondary-color: #ff79da;

$new-bg-color: #99e2d0;
$new-txt-color: #008766;